
/*скриває непотрібні заголовки*/
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
/*-------RESET-------*/


/*-------BODY-------*/


/* .list {
  margin: 0;
  padding: 0;
  list-style: none;
} */


/*---------HEADER------------*/
/* 
.page-header {
  background-color: var(--color-header);
}
.container.header {
  display: flex;
  align-items: center;
}


.logo {
  margin-right: 127px;
}
.logo span {
  color: var(--title-text-color);
}
.logo:hover,
.logo:focus {
}
.navigation {
}
.site-nav {
  display: flex;
  justify-content: flex-start;
  gap: 65px;
}

.site-nav .link {
  display: block;
  padding-top: 39px;
  padding-bottom: 39px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-transform: uppercase;
  color: var(--primary-color);
  transition: color var(--time) var(--cubic);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text-color);
  transition: color var(--time) var(--cubic);
}
.site-nav .link.current {
  color: var(--accent-text-color);
}
.current {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(1px);
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.lang {
  display: flex;
  margin-left: auto;
  gap: 21px;
}

.lang .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: var(--accent-color);
  padding-top: 25px;
  padding-bottom: 18px;
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
  color: var(--text-color);
  transition: color var(--time) var(--cubic);
}

.lang .link:hover,
.lang .link:focus {
  background-color: var(--text-color);
  color: var(--accent-text-color);

  cursor: pointer;
  transition: color var(--time) var(--cubic),
    background-color var(--time) var(--cubic);
} */

/*------hero---------*/



/*------section---------*/

/*-----footer-----*/



/*------------BACKDROP------------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  min-height: 581px;

  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleY(1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, 0%) scale(0);
  transition: transform 300ms linear;
}
.button-x {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--social-networks-icon);
  width: 30px;
  height: 30px;
  color: var(--title-text-color);
}
.button-img {
  fill: currentColor;
}

/* @keyframes first {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-100%, 0);
    color: orange;
  }
  50% {
    transform: translate(-100%, 100%);
    color: palevioletred;
  }
  75% {
    transform: translate(0, 100%);
    color: aqua;
  }
  100% {
    transform: translate(0, 0);
  }
}
.current {
  animation: first 4s infinite;
} */
