.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    max-width: 1285px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding-left: 46px;
    padding-right: 46px;
  }
}
