.section.footer {
  background-color: var(--color-header);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.social-networks-footer {
  margin-bottom: 65px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.social-networks-footer-list {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.social-networks-item-footer {
  width: 44px;
  height: 44px;
}

.social-networks-item-footer:hover,
.social-networks-item-footer:focus {
  cursor: pointer;
}

.address-nav {
  margin-top: 20px;
}
.contacts.footer .link {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 1.15;
  color: var(--accent-text-color);
}
.contacts.footer > li:first-child {
  margin-bottom: 11px;
}
.contacts.footer > li:last-child {
  margin-bottom: 112px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.address {
  color: var(--primary-color);
  text-decoration: none;
  font-style: normal;
  line-height: 1.7;
}
.button-footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
