.stile-item {
  background-color: var(--accent-color);
  border-radius: 10px;
  padding-top: 31px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    width: 330px;
  }
  @media screen and (min-width: 1200px) {
    width: 350px;
  }
  @media screen and (min-width: 1440px) {
    width: 428px;
  }
}
.stile-list {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.stile-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  background: var(--primary-color);
  border-radius: 8px;
  padding: 4px 0 4px 11px;
  width: 212px;
  margin-bottom: 16px;
}
.stile-item-list {
  padding-left: 25px;
}
.stile-item-list li {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
}
.stile-accsent {
  font-weight: 600;
}
